@font-face {
    font-family: NotoSans;
    src: url(./font/NotoSans/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: RobotoBold;
    src: url(./font/Roboto/Roboto-Bold.ttf) format("truetype");
}